#home {
    width: 100%;
    height: 100%;
}
/*首页部分中间展示颜色*/
.showCount{
    height: 125px;
    background: #f9f9f9;
    font-size: 14px;
    color: #6b6d71;

}
.showCount-spe{
    height: 55px;
    background: #f9f9f9;
    font-size: 14px;
    color: #6b6d71;
    margin-left: 5px;
    margin-top: 5px;
}